In [0]:
from taf.TAF_Runner import TAF_Runner
from datetime import datetime

In [0]:
# This is the protected call but it's static. 
# if no date is specified it will use the beginning of the current month and year
display(TAF_Runner._get_run_ids(table_name="ip"))

In [0]:
from taf.BSF.BSF_Runner import BSF_Runner

BSF_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
from taf.IP.IP_Runner import IP_Runner

IP_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
from taf.LT.LT_Runner import LT_Runner

LT_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
{"job_id":"5043154","reporting_period":"2022-10-31","run_id":"'5276','5269','5261','5256','5198','5235','5274','5253','5250','5284','5239','5270','5279','5303','5272','5255','5294','5264','5268','5300','5305','5258','5288','5308','5257','5275','5281','5246','5280','5271','5309','5254','5283','5296','5282','5295','5285','5262','5306','5249','5290','5297','5267','5260','5273','5265','5291','5287','5301','5247','5243','5293','5310'","state_code":"'01','02','04','05','06','08','09','10','11','12','13','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','38','39','40','41','42','44','45','46','47','48','49','50','51','53','54','55','56','72','78','97'"}

In [0]:
from taf.MCP.MCP_Runner import MCP_Runner

MCP_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
from taf.OT.OT_Runner import OT_Runner

OT_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
from taf.PRV.PRV_Runner import PRV_Runner

PRV_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
from taf.BSF.BSF_Runner import BSF_Runner

BSF_Runner.get_run_ids(reporting_date='12-01-2022')

In [0]:
from taf.RX.RX_Runner import RX_Runner

RX_Runner.get_run_ids(reporting_date='12-01-2022')